@(query: String, page: Int, action: Call, results: Seq[SearchResult])

@main("Search") {

    <h2>Search</h2>
    @helper.form(action) {
        <label for="id_query">Query</label>
        <input type="text" name="query" value="@query" id="id_query">

        <button type="submit">Search</button>
    }

    @if(results.nonEmpty) {
        <ul>
        @results.map { result =>
            <li>
                <h3><a href="@routes.TnaController.item(result.id)">@result.title</a></h3>
                @result.description.map { d =>
                    <blockquote>@d</blockquote>
                }
            </li>
        }
        </ul>

        <a href="@routes.TnaController.index(query=query, page = page - 1)">Prev</a> |
        <a href="@routes.TnaController.index(query=query, page = page + 1)">Next</a>
    }
}
