@(item: InformationAsset, children: Seq[InformationAsset], page: Int)

@main(s"Item: ${item.id}") {

    <h2>@item.id</h2>

    <pre>
        @play.api.libs.json.Json.prettyPrint(item.data)
    </pre>

    @if(children.nonEmpty) {
        <ul>
        @children.map { child=>
            <li>
                <h3><a href="@routes.TnaController.item(child.id)">@child.id</a></h3>
                <pre>@play.api.libs.json.Json.prettyPrint(child.data)</pre>
            </li>
        }
        </ul>

        <a href="@routes.TnaController.item(item.id, page = page - 1)">Prev</a> |
        <a href="@routes.TnaController.item(item.id, page = page + 1)">Next</a>
    }
}
